<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <title>Casdastro</title>
</head>
<header>
</header>

<body>
    <h1 th:text="${mhome}"></h1>


    <strong>Usuários</strong>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
        <tr th:each="usuario : ${listausuarios}">
            <td th:text="${usuario.id}"></td>
            <td contenteditable="true" class="editable-cell" th:text="${usuario.nome}"></td>
            <td contenteditable="true" class="editable-cell" th:text="${usuario.email}"></td>
            <td>
                <form th:action="@{/usuario/{id}/atualizar(id=${usuario.id})}" method="post" onsubmit="updateValues(this)">
                    <input type="hidden" name="id" th:value="${usuario.id}" />
                    <input type="hidden" name="nome" class="nome-input" />
                    <input type="hidden" name="email" class="email-input" />
                    <button type="submit">Editar</button>
                </form>
                <form th:action="@{/usuario/{id}(id=${usuario.id})}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>
    </table>

    <h1></h1>
    <strong>Novo Usuário</strong>
    <form class="form" action="CriarUsuario" method="post">
        <input type="text" name="nome" id="nome" placeholder="Nome">
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="text" name="senha" id="senha" placeholder="Senha">
        <button type="submit" value="ResponseTest">Criar</button>
    </form>
</body>

</html>

<script>
     function updateValues(form) {
        var row = form.parentNode.parentNode;
        var editableCells = row.getElementsByClassName('editable-cell');
        var nomeInput = row.getElementsByClassName('nome-input')[0];
        var emailInput = row.getElementsByClassName('email-input')[0];

        nomeInput.value = editableCells[0].innerText;
        emailInput.value = editableCells[1].innerText;
    }
</script>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .editing {
        background-color: #F5F5F5;
    }
</style>