<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#"><i class='bx bx-user-plus'></i> Cadastrar Doador</a></li>
                <li><a href="novaDoacao"><i class='bx bx-donate-heart' style='color:#ffffff' ></i> Cadastrar Doação</a></li>
                <li><a href="index.html"><i class='bx bx-exit' style='color:#ffffff'></i> Sair</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1 th:text="${mnovaDoacao}"></h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Nome Doador</th>
                <th>Descrição</th>
                <th>Quantia</th>
                <th>Quantidade</th>
                <th>Data Crição</th>
                <th>Ações</th>
            </tr>
            <tr th:each="doacao : ${listadoacoes}">
                <td th:text="${doacao.id}"></td>
                <td contenteditable="true" class="editable-cell" th:text="${doacao.descricao}"></td>
                <td contenteditable="true" class="editable-cell" th:text="${doacao.nomeDoador}"></td>
                <td contenteditable="true" class="editable-cell" th:text="${doacao.quantia}"></td>
                <td contenteditable="true" class="editable-cell" th:text="${doacao.quantidade}"></td>
                <td th:text="${#dates.format(doacao.data, 'dd/MM/yyyy')}"></td>
                <td class="acoes-column">
                    <form th:action="@{/doacao/{id}/atualizar(id=${doacao.id})}" method="post"
                        onsubmit="updateValues(this)">
                        <input type="hidden" name="id" th:value="${doacao.id}" />
                        <input type="hidden" name="descricao" class="descricao-input" />
                        <input type="hidden" name="nomeDoador" class="nomeDoador-input" />
                        <input type="hidden" name="quantia" class="quantia-input" />
                        <input type="hidden" name="quantidade" class="quantidade-input" />
                        <button type="submit" class="btn-acao"><i class='bx bx-border bxs-edit-alt  btn-editar '><span> Editar</span></i></button>
                    </form>
                    <form th:action="@{/doacao/{id}(id=${doacao.id})}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn-acao "><i class='bx  bx-border bx-trash-alt btn-deletar'></i></button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>

<script>

    function updateValues(form) {
        var row = form.parentNode.parentNode;
        var editableCells = row.getElementsByClassName('editable-cell');
        var descricaoInput = row.getElementsByClassName('descricao-input')[0];
        var nomeDoadorInput = row.getElementsByClassName('nomeDoador-input')[0];
        var quantiaInput = row.getElementsByClassName('quantia-input')[0];
        var quantidadeInput = row.getElementsByClassName('quantidade-input')[0];

        descricaoInput.value = editableCells[0].innerText;
        nomeDoadorInput.value = editableCells[1].innerText;
        quantiaInput.value = editableCells[2].innerText;
        quantidadeInput.value = editableCells[3].innerText;

        row.classList.add('selected-row');
    }

</script>