body {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a63ae6;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: 2px solid #fff;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  font-family: Helvetica, sans-serif;
}



.input-group {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  flex: 1;
  padding: 10px;
  background-color: #d988ff;
  color: rgb(39, 39, 39);
  border: none;
  cursor: pointer;
}